
.btn{
  background: #D9002F;
  padding: 2px;
  border-radius: 75px;
  color: white;
}


.btn:hover{
  background:#ee0c3d;
}

.btn:focus{
  outline: none;
}

.my-custom-class{
  font-size: 13px;
  font-weight: 400px;
  color: black;
  border-bottom: black;
}

.ion-tab-button{
  color: green;
  background: red;
}


inputs.formontrol{
  border: solid red;
  background: #fff;
}



.alert-button {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 50%;
  height: 44px;
  border-top: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
  border-right: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
  background-color: transparent;
  color: #bb2b5a;
  font-size: 17px;
  overflow: hidden;
  border: solid 2px;
  margin: 3px;
  border-radius: 50px;
}
