

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.gradien{
  position: absolute;
  width: 469.23px;
  height: 467.32px;
  left: 210px;
  top: 424.03px;
  background: linear-gradient(180deg, #8FAF00 0%, #008100 100%);
  transform: matrix(-0.72, -0.6, 0.8, -0.72, 0, 0);
  }

  /* Border para error de un input */

  .alert-button.sc-ion-alert-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 10px;
    background-color: #D9002F;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;

    padding: 2px 5px;
  }


  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }


.error {
  box-shadow: 0 0 3px #d45252;
  border-color: #e74c3c;
}

/* Border para exito de un input */

.success {
  box-shadow: 0 0 3px #5cd053;
  border-color: #2ecc71;
}


.btn{
  background: #D9002F;
  padding: 2px;
  border-radius: 75px;
  color: white;
}
.btn:hover{
  background:#ee0c3d;
}
.btn:focus{
  outline: none;
}

/* Mejor el codifgo de nuestro proyecto */

